/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 23 abr. 2026, 16:01:17
    Author     : Dell
*/

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

body {
    margin: 0;
    font-family: Arial;
    background-image: url("fondo_cafeina_code.png");
    background-size: cover;
    background-attachment: fixed;
    color: white;
    text-align: center;
    
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* MENÚ */
.menu {
    background-color: #2b0033;
    padding: 10px;
    font-family: Arial;
}

.menu a {
    font-family: "Orbitron", sans-serif;
    color: white;
    text-decoration: none;
    margin: 10px;
    padding: 8px 15px;
    background-color: #4a00e0;
    border-radius: 5px;
}

.menu a.activo {
    background-color: #ff00cc;
}

.logo {
    width: 60px;
}

.imprimir{
    position: fixed;
    bottom: 40px;
    left: 40px;
    width: 120px;
}

.contenedor {
    /* Tipografía y Texto */
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    line-height: 1.8; 
    color: #333;
    text-align: justify; 

    /* Caja Blanca */
    background-color: #ffffff;
    border: 2px solid #000000; 
    border-radius: 8px;
    box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.1);
    
    max-width: 650px; 
    margin: 20px auto;
    padding: 30px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.arreglos{
    background-color: buttonface;
    padding: 5px;
    border-radius: 4px;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    color: green;
    display: block;
    width: 80%;
    margin: 10px auto;
    text-align: center;
}

/* --- ARREGLO PARA BOTONES --- */

.boton-conceptos {
    position: relative; /* Permite que el texto se posicione sobre la imagen */
    display: inline-block;
    text-decoration: none;
    margin: 10px auto;
    width: fit-content;
    transition: transform 0.1s;
}

.boton-conceptos:active {
    transform: scale(0.95); /* Efecto visual de presionar */
}

.boton {
    width: 280px; /* Ajusta el ancho de tu Boton_Naranja.png */
    display: block;
}

.texto-boton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el texto */
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    width: 100%;
    text-align: center;
    pointer-events: none; /* EL CLIC ATRAVIESA EL TEXTO Y LLEGA AL ENLACE */
}


/* FOOTER */
.footer {
    margin-top: 50px;
    padding: 15px;
    background-color: rgba(0,0,0,0.5);
}